<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Style/bootstrap/css/bootstrap.min.css">
    <script src="Style/bootstrap/js/bootstrap.min.js"></script>
    <title>Register</title>
</head>
<body>
    <!-- Register User -->
    <div class="container" style="padding: 20px;">
        <div class="row justify-content-center aling-items-center">
            <div class="col-sm-12 col-md-12">
                <h2>Register</h2>
                <form action="" method="post">
                    <div class="row g-2">
                        <div class="col-md-4">
                            <label for="" class="form-label">Nombre</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-md-4">
                            <label for="" class="form-label">Apellido</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="" class="form-label">Correo</label>
                        <input type="email" class="form-control">
                    </div>
                    <div class="col-md-3">
                        <label for="" class="form-label">Password</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-md-3">
                        <label for="" class="form-label">Confirm Password</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="row g-2">
                        <div class="col-md-3">
                            <label for="" class="form-label">CellPhone</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-md-3">
                            <label for="" class="form-label">Conuntry</label>
                            <Select class="form-select">
                                <option value="">Select</option>
                                <option value="">Elias Pi;a</option>
                                <option value="">San Juan</option>
                                <option value="">Santo Domingo</option>
                            </Select>
                        </div>
                        <div class="col-md-2">
                            <label for="" class="form-label">City</label>
                            <Select class="form-select">
                                <option value="">Select</option>
                                <option value="">Comendador</option>
                                <option value="">Maguana</option>
                                <option value="">Santo-Dom-Este</option>
                            </Select>
                        </div>
                    </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>